<html>
  <p>Hey there, visitor!</p>

  <p>To verify your account for our Discord server, please type `<%= prefix %>verify <%= authCode %>`</p>

  <p>Note: this code will automatically expire in 7 days.</p>
</html>